<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="LKS_Jakarta_Timur_2018.Properties.Settings.EsemkaLaundry2018ConnectionString"
            connectionString="Data Source=DESKTOP-LE4Q167;Initial Catalog=EsemkaLaundry2018;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>